server.document-root = "{{ YUM_REPO_DOCUMENT_ROOT }}" 

server.port =  {{ YUM_REPO_PORT }}

# mimetype.assign = (
#   ".html" => "text/html", 
#   ".txt" => "text/plain",
#   ".jpg" => "image/jpeg",
#   ".png" => "image/png" 
# )
